.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 0.5rem;
    color: var(--brand-white);
  }
  
  .title {
    font-size: 5rem;
    color: var(--brand-yellow);
    text-decoration: none;
    font-family: var(--brand-head-font);
  }
  .description {
    text-align: center;
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: var(--brand-body-font);
  }
  