.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.img {
    float: none;
    text-align: center;
    margin: 0px 50px 0px 0px;
}

.back {
    background-color: #2e2d2d;
    /* background-color: #D9D9D9; */
    width: 100%;
    height: auto;

}

@media screen and (min-width: 1100px) {
    .img {
        float: right;
        margin: 0px 127px;
    }

    .head {
        text-align: left;
    }
}

.main_div {
    background-color: #14cd80;
    margin: 0px 50px;
    color: white;
    padding: 5%;
    border-radius: 0px 0px 90px 0px;
    position: relative;
    transform: translateY(-12.5%);
    z-index: 1;
}

.head {
    size: 3rem;
    font-family: var(--brand-head-font);
    padding-top: 30px;
}

.body {
    size: 1rem;
    padding-right: 10px;
    font-family: var(--brand-body-font);

}


@media (max-width:600px) {
    .main_div{
        transform: translateY(-7.5%);
    }
    
}
