.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.img {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 0px 0px 0px 0px;
}

.back {
    background-color: #2e2d2d;
    /* background-color: #D9D9D9; */
    width: 100%;
    height: auto;

}

.main_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--sponsors-bg);
    margin: 0px 50px;
    color: white;
    padding: 5rem 0rem;
    border: 1px solid var(--brand-green);
    border-radius: 00px 00px 100px 0px;
    position: relative;
    transform: translateY(-12.5%);
    z-index: 1;
}

.wrapper {
    width: 50%;
}

.head {
    size: 3rem;
    font-family: var(--brand-head-font);
    padding-top: 30px;
}

.body {
    size: 1rem;
    padding-right: 10px;
    font-family: var(--brand-body-font);

}

@media (max-width:900px) {
    .main_div {
        transform: translateY(-7.5%);
        flex-direction: column-reverse;
        padding: 5rem 2rem;
    }
    
    .wrapper {
        width: 100%;
    }

    .img {
        margin-bottom: 2rem;
    }

}

@media (max-width:600px) {
    .main_div {
        transform: translateY(-7.5%);
    }

    .img {

        width: 15rem;
        height: 15rem;
        margin-bottom: 5rem;
    }

    .wrapper {
        width: 100%;
    }

    .head {
        font-size: 1rem;
        padding-top: 0px;
    }

}