/* @keyframes ani {
    0% {
        filter : brightness(0) blur(10px);
    }

    100% {
        filter : brightness(1) blur(0px);
    }
} */

.intro {
    /* background-image: url("../assets/EventsPage/comp1.png"); */
    min-height: 100vh;
    /* filter: brightness(0.9); */
    background-size: cover;
    background-image:linear-gradient(160deg, rgba(0,0,0,1), rgba(222,84,53,0) 60.71%), 
    linear-gradient(217deg, rgba(222,84,53,1), rgba(96,45,110,0.4) 80.71%),
                linear-gradient(232deg, rgba(96,45,110,1), rgba(221,72,42,0) 100.71%), 
                linear-gradient(186deg, rgba(0,0,0,1), rgba(0,0,0,1) 30.71%);
    background-repeat: no-repeat;
    display: flex;
    /* animation-name: ani;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: 1;
    animation-play-state: running; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.introContainer {
    height: 100%;
    width: 80%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.row1 {
    display: flex;
    align-items: flex-end;
    padding: 5rem;
    padding-bottom: 1.5rem;
}

.row2 {
    height: 0.05rem;
    width: 80%;
    background-color: white;
    margin-left: 5rem;
}

.row3 {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.im {
    position: relative;
    height: 5rem;
    width: 6rem;
}

.textLogo {
    color: white;
    font: 3rem Homrice;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.con1 {
    font: clamp(2em, 6vw + 1.2rem, 4rem) Homrice;
    color: #FF866B;
}

.con2 {
    margin-top: 2rem;
    font: clamp(1rem, 1.5vw + 0.6rem, 1.5rem) Roboto Slab;
    color: white;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 0;
        transform: translateY(0px);
    }
}

.arrow {
    display: flex;
    position: relative;
    width: 20%;
    height: auto;
    justify-content: center;
    align-items: flex-end;
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-delay: 3s;
    /* animation-timing-function: ease-in-out; */

}

.arIm {
    height: 10rem;
}

.scroller {
    display: none;
}


@media (max-width: 468px) {
    .intro {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .introContainer {
        align-items: center;
        width: 100%;
    }

    .row1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .logo {
        margin-left: -6px;
    }

    .textLogo {
        margin: 0;
    }

    .row2 {
        margin: 0;
        width: 70%;
    }
    
    .row3 {
        padding: 2rem;
        margin-block: 3rem;
        text-align: center;
    }

    .scroller {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #41180b77;
    }

    .scroller .lines {
        height: 5%;
        width: 35%;
        background-color: white;
    }

    .textDown {
        color: white;
        font: 1rem poppins;
    }

    .arrow {
        display: none;
    }
}