@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&family=Roboto+Slab&display=swap');

@font-face {
    font-family: 'Homrice';
    src: url('/static/fonts/Homrice.otf');
    font-weight: normal;
    font-style: normal;
}

.intro {
    background-image: url("../assets/EventsPage/comp1.png");
    min-height: 100vh;
    background-size: cover;
    background-image:linear-gradient(160deg, rgba(0,0,0,1), rgba(222,84,53,0) 60.71%), 
    linear-gradient(217deg, rgba(222,84,53,1), rgba(96,45,110,0.4) 80.71%),
                linear-gradient(232deg, rgba(96,45,110,1), rgba(221,72,42,0) 100.71%), 
                linear-gradient(186deg, rgba(0,0,0,1), rgba(0,0,0,1) 30.71%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.introContainer {
    height: 100%;
    width: 80%;
    /* background-color: #FF866B; */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.row1 {
    display: flex;
    height: 35%;
    align-items: flex-end;
    padding: 5rem;
    padding-bottom: 1.5rem;
}

.row2 {
    height: 0.05rem;
    width: 80%;
    background-color: white;
    margin-left: 5rem;
}

.row3 {
    display: flex;
    flex-direction: column;
    height: 64%;
    padding: 5rem;
}

.im {
    height: 5rem;
    width: 6rem;
}

.textLogo {
    color: white;
    font: 3rem Homrice;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.con1 {
    font: 4rem Homrice;
    color: #FF866B;
}

.con2 {
    margin-top: 2rem;
    font: 1.5rem Roboto Slab;
    color: white;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 0;
        transform: translateY(0px);
    }
}

.arrow {
    display: flex;
    position: relative;
    width: 20%;
    justify-content: center;
    align-items: flex-end;
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-delay: 3s;
    /* animation-timing-function: ease-in-out; */

}

.arIm {
    height: 10rem;
}

.scroller {
    display: none;
}


@media (max-width: 468px) {
    .intro {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .introContainer {
        align-items: center;
        width: 100%;
    }

    .row1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 30%;
    }

    .textLogo {
        margin: 0;
    }

    .row2 {
        margin: 0;
        width: 70%;
    }
    
    .row3 {
        padding: 4rem;
        text-align: center;
        height: 65%;
    }

    .con1 {
        font-size: 2rem;
    }
    
    .con2 {
        font-size: 1rem;

    }

    .scroller {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #41180b77;
    }

    .scroller .lines {
        height: 5%;
        width: 35%;
        background-color: white;
    }

    .textDown {
        color: white;
        font: 1rem poppins;
    }

    .arrow {
        display: none;
    }
}