.eventContainer {
    
    position: relative;
    /* background-color: antiquewhite; */
    display: flex;
}

.fixedContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 25%;
    position: sticky;
    top: 0rem;
    color: white;
    /* background-color: aliceblue; */
}

.dial_container {
    position: relative;
    display: flex;
    width: 100%;
    /* height: 100%; */
    min-height: 70vh;
    justify-content: center;
    /* gap: 10%; */
    /* background-color: blue; */
    overflow: hidden;
    margin: 0px auto;
    align-items: center;
}

.dial {
    display: flex;
    font-family: Roboto Slab;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    z-index: 1;
    /* background-color: #b34444; */
}

.dial_item {
    color: var(--brand-white);
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
    gap: 10px;
    align-items: center;
    /* background-color: antiquewhite; */
    justify-content: flex-start;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
    letter-spacing: 2px;
    /* line-height: px; */
}

.dial_sub_item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.25s ease;
    color: rgba(255,255,255, 0.5);
}

.dial_sub_item_selected {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.25s ease;
}

.selected_sponsor {
    position: absolute;
    margin-left: -20px;
    font-size: 20px;
    margin-top: 5px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.lines {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.longLine {
    width: 40px;
    height: 4px;
    border-radius: 10px;
    background: var(--brand-white);
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.shortLine {
    width: 20px;
    height: 3px;
    border-radius: 10px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    background: var(--brand-white);
}

.longLine_d {
    width: 40px;
    height: 4px;
    border-radius: 10px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), var(--brand-white);
}

.shortLine_d {
    width: 20px;
    height: 3px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), var(--brand-white);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.eventList {
    position: relative;
    display: flex;
    width: 75%;
    height: calc(100% + 200px);
    flex-wrap: wrap;
    row-gap: 7.5rem;
    column-gap: 1.3rem;
    padding: 4rem 0px;
    justify-content: space-evenly;
}

.card {
    /* background-color: red; */
    width: 18rem;
    height: 100%;
    cursor: pointer;
    border-radius: 0.75rem;

}

.imageWrapper {
    width: 18rem;
    height: 25.72rem;
    /* background-color: aliceblue; */
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 5%;
    /* background-color: aliceblue; */
    border-radius: 0.75rem;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: all 0.5s ease;
}

.imageWrapper:hover img{
    transform: scale(1.1);
}

.divider>hr {
    margin-top: 2.5rem;
    width: 100%;
    height: 0.1rem;
    background-color: var(--brand-yellow);
    border: none;
}


.content {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    color: var(--brand-white);
    font-family: var(--brand-body-font);
    font-size: 1.5rem;
}

.content h1 {
    font-size: 1.5rem;
    word-wrap: break-word;
    font-family: var(--brand-head-font);
    margin-bottom: 0;
}

.content p {
    margin-top: 0;
}

.alias{
    font-size: 1rem;
    color: grey;
}


.mobile_dial {
    position: sticky;
    z-index: 1;
    display: none;
    width: 100vw;
    top: 0;
    height: 70px;
    margin-top: 2rem;
    text-align: center;
    background-color: black;
}

.mobile_dial_select {
    font-family: Roboto Slab;
    width: 80%;
    height: 70px;
    position: relative;
    top: 0px;
    background-color: black;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
}

.mobile_dial_select:focus{
    outline: none;
}


@media (max-width: 468px) {
    .textCon {
        font-size: 0.7rem;
    }
}


@media (max-width: 768px) {
    
    .eventContainer{
        flex-direction: column;
        /* justify-content: center; */
        /* background-color: aliceblue; */
        align-items: center;
    }

    .fixedContent{
        display: none;
    }

    .mobile_dial {
        display: block;
    }

}