.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
    margin: 5rem 4rem;
}

.Heading {
    color: var(--brand-white);
}

.Heading h1 {
    font-family: var(--brand-head-font);
    font-size: 4.75rem;
    font-weight: 400;
    letter-spacing: -3px;
    margin-bottom: 0px;
    color: var(--brand-purple-text);
}

.Heading p {
    border-left: 0.2rem solid var(--brand-purple-text);
    font-family: var(--brand-body-font), sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
    padding-left: 0.5em;
    padding-right: 0.25em;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.image img {
    width: 21rem;
    height: 30rem;
    border-radius: 10px;
}



.links {
    margin-right: 3em;
}

.Heading button {
    margin-top: 5%;
}

@media (max-width: 1250px) {
    .Heading h1 {
        font-size: 4.5rem;
    }
}

@media (max-width: 1200px) {


    .Heading h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 1040px) {

    .Heading h1 {
        font-size: 3.5rem;
    }

    .Heading p {
        width: 100%;
        font-size: 18px;
    }

    .image img {
        width: 17.5rem;
        height: 25rem;
    }
}

@media (max-width: 705px) {
    .container {
        margin-top: 10%;
        flex-direction: column-reverse;
        align-items: center;
        gap: 4rem;
    }

    .image {
        display: flex;
        padding: 0px;
    }

    .Heading h1 {
        font-size: 3.5rem;
    }

    .Heading p {
        width: 100%;
        font-size: 17px;
    }

    .image img {
        width: 14rem;
        height: 20rem;
    }

    .links {
        margin: 0 25% 0 25%;
    }
}

@media (max-width: 350px) {
    .Heading h1 {
        font-size: 2em;
    }

    .Heading p {
        width: 100%;
        font-size: 15px;
    }

    .image img {
        width: 10.5rem;
        height: 15rem;
    }
}