@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&family=Ubuntu:wght@300&display=swap');


  .fontz{
    color: #5A4BF6;
    font-size: large;
  }
.footer_container{
  padding: 0 1.5em;
}
@media only screen and (max-width: 728px){
  .footer_container{
    width: 100%;
    padding: 0 0;
  }
 }
.head{
    font-family: 'Ubuntu';
    color: #2ED798;
  }

.footer_desc{
  width: 50%;
  font-family: 'Roboto Slab';
}
@media only screen and (max-width: 728px){
  .footer_desc{
  width: 80%;
  }
 }
  
  .footer {
    color: var(--brand-white);
    display: flex;
    flex-direction: column;
    background-color: #2B2B2B;
    width: 100%;
  }
 .line{
  margin-top: 2rem;
    height: 2px;
  width:100%;
  background-color: white;
 }
 .content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 @media only screen and (max-width: 728px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
 .horizontal{
    background-color: white;
    width: 0.1%;
    /* margin-left: 1rem; */
    margin-right: 1rem;
    margin-top: 1rem;
 }
 @media only screen and (max-width: 728px){
  .horizontal{
    margin-top: 2rem;
    height: 2px;
  width:100%;
  background-color: white;
  }
 }
 @media only screen and (max-width: 728px) {
  .verticle {
    margin-top: 2rem;
  height: 2px;
width:100%;
background-color: white;
margin-bottom: 2rem;
  }
}
.first{
  margin-top: 2rem;
  margin-left: 1rem;
  /* margin-right: 10rem; */
}
 .second{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 0.7em;
 }
 @media only screen and (max-width: 728px){
  .second{
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  }
 }
 .third{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 2vh;
  margin-top: 2rem;
 }
 @media only screen and (max-width: 728px){
  .third{
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0rem;
  }
 }
 .icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
 }
 .icon{
  border: 1px solid;
  background-color: #717171;
  color: #2ED798;
  border-radius: 5rem;
  padding: 5px;
  width: 30px;
  height: auto;
 }
 @media only screen and (max-width: 728px){
  .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
 }

.line1{
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 2px;
  width:100%;
  background-color: white;
}
.foot_font{
  font-family: 'Roboto Slab';
}
.foot_font1{
  font-family: 'Roboto Slab';
  font-size: xx-small;
}