@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&family=Roboto+Slab&display=swap');

@font-face {
  font-family: 'Homrice';
  src: url('/static/fonts/Homrice.otf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;

}

:root {
  --brand-yellow: #FFE600;
  --brand-green: #00B140;
  --brand-peach: #FE7062;
  --brand-white: #FFFFFF;
  --brand-white-shaded: #b2b2b2;
  --brand-purple: #6525DB;
  --brand-black: #000000;
  --sponsors-bg: #009f64;
  --brand-bg-green: #04d788;
  --brand-head-font: 'Homrice', serif;
  --brand-body-font: 'Roboto Slab', serif;
}

body {
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: black;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}