@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&family=Roboto+Slab&display=swap');

@font-face {
    font-family: 'Homrice';
    src: url('/static/fonts/Homrice.otf');
    font-weight: normal;
    font-style: normal;
}

@keyframes rotts {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(1.4);
    }

    8% {
        transform: scale(1.4) rotate(360deg);
    }

    10% {
        transform: rotate(360deg);

    }

    100% {
        transform: scale(1);
    }
}

@keyframes moves {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(1.4);
    }

    10% {
        transform: scale(1.4) translateX(20px);
    }

    15% {
        transform: scale(1.4) translateY(20px);
    }

    20% {
        transform: scale(1.4) translateX(-20px);
    }

    25% {
        transform: scale(1.4) translateY(-20px);
    }

    30% {
        transform: scale(1);
    }

    100% {}
}

.img {
    transition: all 0.3s ease;
    transform: none;
}

.img_ani {
    transform: scale(1.5);
}

.img_back_1 {
    animation-name: rotts;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
}

.img_back {
    animation-name: moves;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
}

.img_cont {
    /* background-color: #FFE600;  */
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 450px;
}


.main {
    margin: 100px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.content {

    /* t9ext-align: left; */
    /* text-align: center; */
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 1.35rem;
    line-height: 1.5;
    margin-top: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.content p{
    margin: 10px 0px;
}

.head {
    font-size: 1.75rem;
    font-family: 'Homrice', serif;
    color: #FFE600;
    line-height: 1.2;
}



.link {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: var(--sponsors-bg);
    font-family: var(--brand-head-font);
    flex-wrap: wrap;
}


@media (max-width:900px) {
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        margin-top: 0px;
        text-align: center;
    }

    .buttonGroup {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width:600px) {
    .img_cont {
        width: 300px;
        height: 300px;
    }

    .content {
        font-size: 1.1rem;
    }

    .head {
        font-size: 1.25rem;
        line-height: 1.2;
    }
    
}