@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&family=Roboto+Slab&display=swap');

@font-face {
    font-family: 'Homrice';
    src: url('/static/fonts/Homrice.otf');
    font-weight: normal;
    font-style: normal;
}

.img{
   
}

@keyframes rotts {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(1.4);
    }

    8% {
        transform:scale(1.4) rotate(360deg);
    } 

    10% {
        transform: rotate(360deg);

    }

    100% {
        transform: scale(1);
    }
}

@keyframes moves {
    0%{
        transform: scale(1);
    }

    5% {
        transform: scale(1.4);
    }

    10% {
        transform: scale(1.4) translateX(20px);
    }

    15% {
        transform: scale(1.4)  translateY(20px);
    }

    20% {
        transform: scale(1.4) translateX(-20px);
    }

    25% {
        transform:scale(1.4) translateY(-20px);
    }

    30% {
        transform: scale(1);
    }

    100%{

    }
}

.img {
    transition: all 0.3s ease;
    transform: none;
}

.img_ani {
    transform: scale(1.5);
}

.img_back_1 {
    animation-name: rotts;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-delay: 0s;
    animation-timing-function:ease-in-out;
}

.img_back {
    animation-name: moves;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-delay: 0s;
    animation-timing-function:ease-in-out;
}

.img_cont {
    /* background-color: #FFE600;  */
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 450px;
}

.main{
    /* margin:70px 20px 20px 20px; */
    display: flex;
    /* margin-top: 70px; */
    min-height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    position:relative;
    text-align: center;
    /* padding:50px 50px 20px 50px; */

}

.content {
   
    color: white;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.5;
    justify-content: space-evenly;
    /* background-color: #FFE600 */
    position:relative;
}

.head {
    size: 3.5rem;
    font-family: 'Homrice', serif;
    color: #FFE600;
}

.button1 {
    background-color: black;
    /* Green */
    border: solid rgb(207, 199, 108);
    color: #FFE600;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin: 6% 4% 5% 0%;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    background-color: white;
    /* Green */
    border: solid rgb(207, 199, 108);
    color: black;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    /* margin: 0.1% 17% 5%; */
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: var(--sponsors-bg);
    flex-wrap: wrap;
}


.buttonGrp {
    width: 100%;
    display: flex;
    justify-content: center;
}
