@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&family=Roboto+Slab&display=swap');

@font-face {
    font-family: 'Homrice';
    src: url('/static/fonts/Homrice.otf');
    font-weight: normal;
    font-style: normal;
}

.imageWrapper {
    position: relative;
    width: 30rem;
    height: 30rem;
}

.main {
    margin: 70px 20px 20px 20px;
    display: flex;
    gap: 2rem;

}

.content {
    /* t9ext-align: left; */
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 5px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

}


.head {
    size: 3.5rem;
    font-family: 'Homrice', serif;
    color: #FFE600;
}


/* .heroButton {

    margin: 1rem 0;
    width: 50%;
} */

.link {
    margin-top: 110px;
    line-height: 40px;
    font-family: 'Homrice', serif;
    color: #14cd80;
}

@media screen and (max-width: 1100px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0%;
        size: 1.5rem;
    }

    .content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0%;
        size: 1.5rem;
    }


}

@media screen and (max-width : 900px) {

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0%;
        size: 1rem;
    }


    .imageWrapper {
        width: 25rem;
        height: 25rem;
    }
    .content {
        font-size: 1.25rem;
    }

}

@media screen and (max-width:600px) {
    .imageWrapper {
        width: 20rem;
        height: 20rem;
    }  
    
    .content {
        font-size: 1rem;
    }
}