.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-white);
    opacity: 100%;
    /* Closing animation below */
    animation: slide-out-container 3s cubic-bezier(0.97, 0.01, 0.36, 0.99) 1s;
    animation-fill-mode: forwards;



}

.textWrapper {
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    animation: blink 1s infinite;


}

.text {
    font-family: var(--brand-head-font);
    font-weight: bolder;
    font-size: 5.5rem;
}


@keyframes blink {
    0% {
        background-color: var(--brand-purple);
        color: var(--brand-white);

    }

    25% {
        background-color: var(--brand-yellow);
        color: var(--brand-green);

    }

    50% {
        background-color: var(--brand-peach);
        color: var(--brand-white);

    }

    75% {
        background-color: var(--brand-blue);
        color: var(--brand-white);

    }

    100% {
        background-color: var(--brand-blue);
        color: var(--brand-white);

    }
}

/* @keyframes slide-out {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 100%;
    }

    19% {
        opacity: 100%;
    }

    20% {
        opacity: 0;
    }

    39% {
        opacity: 0;
    }

    40% {
        opacity: 100%;
    }

    59% {
        opacity: 100%;
    }

    60% {
        opacity: 0;
    }

    79% {
        opacity: 0;
    }

    80% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
} */

@keyframes slide-out-container {
    0% {
        scale: 1;
        height: 100vh;
    }

    60% {
        scale: 1;
        height: 100vh;
    }

    100% {
        scale: 50;
        opacity: 0;
        height: 0vh;
    }
}



@media screen and (max-width: 768px) {
    .text {
        font-size: 2rem;
    }
}