.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 100%;
    /* Closing animation below */
    animation: slide-out-container 3s cubic-bezier(0.97, 0.01, 0.36, 0.99) 1s;
    animation-fill-mode: forwards;
}

.col {
    display: flex;
    flex-direction: column;
    /* justify-content: center */
}

.slideDown {
    position: absolute;
    animation: slide-down 2s;
    /* margin: 1rem; */
    bottom: 52%;
}
.slideUp {
    position: absolute;
    animation: slide-up 2s;
    /* margin: 1rem; */
    top: 52%;
}
.slideLeft {
    position: absolute;
    animation: slide-left 2s;
    /* margin: 1rem; */
    left: 55%;
}
.slideRight {
    position: absolute;
    animation: slide-right 2s;
    /* margin: 1rem; */
    right: 55%;
}
.fadeIn {
    position: absolute;
    animation: fade-in 3s;
    /* margin: 1rem; */
    right: 46.6%;
}
@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes slide-down {
    from {
      bottom: 100%;
    }

    to {
      bottom: 52%;
    }
}
@keyframes slide-up {
    from {
      top: 100%;
    }

    to {
      top: 52%;
    }
}
@keyframes slide-left {
    from {
      left: 100%;
    }

    to {
      left: 55%;
    }
}
@keyframes slide-right {
    from {
      right: 100%;
    }

    to {
      right: 55%;
    }
}
@keyframes slide-out-container {
    0% {
        scale: 1;
        height: 100vh;
    }

    60% {
        scale: 1;
        height: 100vh;
    }

    100% {
        scale: 50;
        opacity: 0;
        height: 0vh;
    }
}



@media screen and (max-width: 468px) {
    .slideLeft {
        left: 60%;
    }
    .slideRight {
        right: 60%;
    }
    .fadeIn {
        right: 44.6%;
    }
    @keyframes slide-left {
        from {
          left: 100%;
        }
    
        to {
          left: 60%;
        }
    }
    @keyframes slide-right {
        from {
          right: 100%;
        }
    
        to {
          right: 60%;
        }
    }
}