/* MENU CSS */

.menu {
    position: relative;
    background-color: transparent;
    border: none;
    top: -30px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 40px;

}

.line {
    fill: none;
    stroke: white;
    stroke-width: 6;

    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .menu:hover .line{
        stroke: var(--text-color);
    } */

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}


/*  */

.menuButton {
    z-index: 2;
}


.Mcontainer {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 10;
    background: var(--brand-black);
    transition: all 0.25s ease-in-out;
    /* background: wheat; */

}

.transparent {
    background: transparent;
    box-shadow: none;
}

@media (prefers-reduced-motion: no-preference) {

    .hide {
        transform: translate(0px, -100px);
        box-shadow: 0 10px 30px -10px var(--navy-shadow);
    }

}

.container {

    display: flex;
    width: 100%;
    height: 100px;
    padding: 10px 50px;
    /* background-color: aqua; */
    align-items: center;
    justify-content: space-between;

}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.logoImg {
    width: 100%;
    height: 3rem;
    /* border-radius: 50%; */
    object-fit: cover;
    object-position: center;
    /* background-color: var(--brand-yellow); */
}

.logo .navBar_open {
    transform: translate(0px, 0px);
}

.nav {
    position: fixed;
    transition: all 0.25s ease;
    height: 100vh;
    z-index: 1;
    width: 300px;
    right: 0;
    top: 0;
    /* width: 25vw; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    background-color: var(--brand-black);
}

.navItem {
    position: relative;
    text-align: center;
    cursor: pointer;
    color: white;
    width: 100%;
    transition: all 0.25s ease;
    font-family: var(--brand-body-font);
}

.navItem:hover {
    color: var(--brand-yellow);
}

.navbar_closed {
    transform: translate(300px, 0);
}