.body_override {
  background-color: white;
}
.title {
  font-size: 4.5rem;
  color: var(--brand-white);
  text-decoration: none;
  font-family: var(--brand-head-font);
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 5%;
}
.container {
  display: flex;
  /* min-height: 100vh; */
  padding: 2rem 3rem;
}
.grid {
  padding: 2% 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  flex: 1;
}
.card {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  color: white;
}

.imageWrapper {
  position: relative;
  width: 20rem;
  height: 20rem;
  
}