@import url('https://fonts.cdnfonts.com/css/homrice');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    /* background-color: #f5f5f5; */
    min-height: 100vh;
    gap: 20px;
    margin: 40px 0px;
    font-family: var(--brand-body-font);
}

.dial_container {
    position: relative;
    display: flex;
    width: 100%;
    /* height: 100%; */
    min-height: 70vh;
    justify-content: center;
    gap: 10%;
    /* background-color: blue; */
    overflow: hidden;
    margin: 0px auto;
    align-items: center;
}

.dial {
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    height: 100%;
    z-index: 1;
    /* background-color: #b34444; */
}

.dial_item {
    color: var(--brand-white);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
    letter-spacing: 2px;
}

.sponsors {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-height: 40vh;
    min-width: 40vw;
    /* background-color: aqua; */
    gap: 20px;
    /* background: #b34444; */
    padding: 20px 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    /* 20% { opacity: 0; }
    40% { opacity: 0.3; }
    60% { opacity: 0.5; }
    80% { opacity: 0.9; } */
    100% {
        opacity: 1;
    }
}

.selected_sponsor {

    position: absolute;
    margin-left: -20px;
    font-size: 20px;
    margin-top: 5px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


.sponsor_item {
    text-align: center;
    color: var(--brand-white);
    font-weight: 500;
    position: relative;
    /* background-color: aliceblue; */
    letter-spacing: 1px;
    width: 40%;
    /* animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1; */
}

.sponsor_logo {
    /* width: 100%;
    height: 100%; */
    max-width: 10vw;
    max-height: 10vw;
    /* background-color: #fff; */
    object-fit: contain;
}

.sponsor_name {
    font-size: 16px;
    font-weight: 500;
}

.lines {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lines_down {
    margin-top: 8px;
}

.longLine_d {
    width: 40px;
    height: 4px;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), var(--brand-white);
}

.shortLine_d {
    width: 20px;
    height: 3px;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), var(--brand-white);
}

.longLine {
    width: 40px;
    height: 4px;
    border-radius: 10px;
    background: var(--brand-white);
}

.shortLine {
    width: 20px;
    height: 3px;
    border-radius: 10px;
    background: var(--brand-white);
}

.make_sponsor {

    position: relative;
    display: flex;
    z-index: 1;
    /* justify-content: space-between; */
    align-items: center;
    height: 50vh;
    width: 80vw;
    /* padding: 30px 30px; */
    margin-top: -50px;
    background-color: var(--sponsors-bg);
    border-radius: 0px 0px 50px 0px;

}

.make_sponsor_image {
    position: "relative";
    width: "100%";
    height: "100%";
    max-width: 400px;
    max-height: 400px;
    /* background: 'red'; */
    margin: 'auto';
}



.make_sponsor_disc {
    position: relative;
    width: 50%;
    margin: auto;
    display: flex;
    gap: 10px;
    padding: 0px 10px;
    flex-direction: column;
    color: #fff;
}

.make_sponsor_disc_title {
    position: relative;
    font-family: var(--brand-head-font);
    font-size: 1.8rem;
    width: 160px;
    /* background-color: antiquewhite; */
}

.make_sponsor_disc_text {
    position: relative;
    font-size: 1.1rem;
    font-family: var(--brand-body-font);
    width: 100%;
    /* margin-top: 10px; */
    font-weight: 600;
}

.contact_us {

    position: relative;
    width: 150px;
    font-family: var(--brand-body-font);
    font-weight: 600;
    text-align: center;
    font-size: 1.3rem;
    background-color: white;
    color: var(--brand-green);
    cursor: pointer;
    border-radius: 0px 0px 15px 0px;
    padding: 5px 10px;
    transition: all 0.25s ease;
}

/* .contact_us:hover {
    color: #fff;
    background: #000;
} */

@media screen and (max-width: 768px) {
    .make_sponsor_image {
        display: none;
    }

    .make_sponsor {}


    .make_sponsor_disc {
        width: 100%;
        padding: 10px;
        justify-content: space-evenly;
        gap: 20px;
    }

    .dial_container {
        position: relative;
        display: flex;
        width: 100%;
        /* height: 100%; */
        min-height: 70vh;
        justify-content: center;
        gap: 10%;
        /* background-color: blue; */
        padding: 0px 30px;
        overflow: hidden;
        margin: 0px auto;
        align-items: center;
    }

    .dial {
        display: flex;

        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        height: 100%;
        z-index: 1;
        /* background-color: #b34444; */
    }

}

@media screen and (max-width: 400px) {


    .dial_item {
        color: #fff;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.25s ease;
        letter-spacing: 2px;
    }


    .sponsor_item {
        text-align: center;
        /* background: #fff; */
        color: white;
        font-weight: 500;
        position: relative;
        /* background-color: aliceblue; */
        letter-spacing: 1px;
        width: 50%;
    }

    .sponsor_logo {
        /* width: 100%;
        height: 100%; */
        max-width: 15vw;
        max-height: 15vw;
        /* background-color: #fff; */
        object-fit: contain;
    }

    .sponsor_name {
        font-size: 10px;
        font-weight: 500;
    }
}